.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.search-area {
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-top: 40vh;
}

.desktop .search-wrapper {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  background: #1a120fb8;
  padding: 1%;
  border-radius: 9px;
}

input[type=text].input-text {
  border: 0;
  padding: 4%;
  font-size: 27px;
}

.btn-voice {
  padding: 2px 16px;
  background: #635555;
  font-size: 24px;
  color: #fff;
}

.btn-voice:hover {
  background: #0688ac;
  color: #fff;
}

.hr-custom-menu li {
  display: flex;
  align-items: center;
  background: #141534;
  margin-bottom: 1px;
}

.hr-custom-menu li a {
  padding: 0;
  padding-left: 2px
}

.icon-ui {
  background: transparent;
  padding: 12px;
  /* margin-bottom: 1px; */
  display: block;
}

.hr-custom-menu li:hover,
.hr-custom-menu li:hover .icon-ui {
  background: #5dbfd4;
  ;
}

.window-area,
.task-bar {
  position: relative;
  display: block;
}

.window-area {
  height: 100%;
  position: relative;
}

.task-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 42px;
  background-color: #141534;
  display: none;
}

.task-bar .task-bar-section {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.task-bar .task-bar-item {
  position: relative;
  display: block;
  width: 48px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: default;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  min-width: 0;
  outline: none;
}

.task-bar .task-bar-item * {
  display: block;
  margin: 8px 12px;
  height: 24px;
  width: 24px;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
}

.task-bar .task-bar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.task-bar .task-bar-item.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.task-bar .task-bar-item.started::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
  height: 3px;
  background-color: #5ebdec;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.task-bar .task-bar-item.started:hover::after {
  left: 1px;
  right: 1px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.task-bar .task-bar-item:active,
.task-bar .task-bar-item.focus,
.task-bar .task-bar-item:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.task-bar.icons-small {
  height: 30px;
  padding: 0;
}

.task-bar.icons-small .task-bar-item {
  width: 16px;
  height: 16px;
  margin: 0 8px;
}

.task-bar a.task-bar-item {
  color: #ffffff;
}

.task-bar a.task-bar-item:hover {
  color: #ffffff;
}

.start-menu {
  padding: 1px;
  border-top: 1px rgba(255, 255, 204, 0.1) solid;
  border-right: 1px rgba(255, 255, 204, 0.1) solid;
  top: auto;
  bottom: 100%;
  background-color: #141534;
  color: #ffffff;
  display: none;
  position: absolute;
  float: left;
  width: auto;
  margin: 0;
  list-style: none inside none;
  z-index: 1000;
  -webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
}

.start-menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.start-menu .sys-buttons {
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.start-menu .explorer {
  width: 220px;
}

.ani-swoopInTop {
  -webkit-animation-name: swoopInTop;
  animation-name: swoopInTop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.ani-swoopOutTop {
  -webkit-animation-name: swoopOutTop;
  animation-name: swoopOutTop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes swoopInTop {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scaleY(1.5) translate3d(0, -400px, 0);
    transform: scaleY(1.5) translate3d(0, -400px, 0);
  }

  40% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1.2) translate3d(0, 0, 0);
    transform: scaleY(1.2) translate3d(0, 0, 0);
  }

  65% {
    -webkit-transform: scaleY(1) translate3d(0, 20px, 0);
    transform: scaleY(1) translate3d(0, 20px, 0);
  }

  100% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1) translate3d(0, 0, 0);
    transform: scaleY(1) translate3d(0, 0, 0);
  }
}

@keyframes swoopInTop {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scaleY(1.5) translate3d(0, -400px, 0);
    transform: scaleY(1.5) translate3d(0, -400px, 0);
  }

  40% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1.2) translate3d(0, 0, 0);
    transform: scaleY(1.2) translate3d(0, 0, 0);
  }

  65% {
    -webkit-transform: scaleY(1) translate3d(0, 20px, 0);
    transform: scaleY(1) translate3d(0, 20px, 0);
  }

  100% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1) translate3d(0, 0, 0);
    transform: scaleY(1) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes swoopOutTop {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1) translate3d(0, 0, 0);
    transform: scaleY(1) translate3d(0, 0, 0);
  }

  40% {
    opacity: 1;
    -webkit-transform: scaleY(1) translate3d(0, 20px, 0);
    transform: scaleY(1) translate3d(0, 20px, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1.2) translate3d(0, 0, 0);
    transform: scaleY(1.2) translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scaleY(1.5) translate3d(0, -400px, 0);
    transform: scaleY(1.5) translate3d(0, -400px, 0);
  }
}

@keyframes swoopOutTop {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1) translate3d(0, 0, 0);
    transform: scaleY(1) translate3d(0, 0, 0);
  }

  40% {
    opacity: 1;
    -webkit-transform: scaleY(1) translate3d(0, 20px, 0);
    transform: scaleY(1) translate3d(0, 20px, 0);
  }

  60% {
    -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: scaleY(1.2) translate3d(0, 0, 0);
    transform: scaleY(1.2) translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: scaleY(1.5) translate3d(0, -400px, 0);
    transform: scaleY(1.5) translate3d(0, -400px, 0);
  }
}

.listner-activated {
  background: #3f51b5 !important;
}

.listner-activated::after {
  content: "Speak now";
  display: block;
  font-size: 11px;
  position: absolute;
  bottom: -26px;
  background: #14299f;
  padding: 5px;
  width: 64px;
  left: 0;
  border-radius: 0 1px 11px 0;
}

.charm-notify {
  padding: 11px 15px;
}

.charm-notify .icon {
  left: 7px;
  top: 21%;
  width: 20px;
  height: 20px;
  font-size: 18px;
}

.charm-notify .content {
  font-size: 10px;
  margin-left: 22px;
}

.alert-wrapper {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.alert-wrapper .set-alert-wrapper {
  background: #141534;
  color: #000;
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 34vh;
}

.alert-wrapper input,
.alert-wrapper select {
  border: 0;
  -webkit-appearance: inherit;
  -moz-appearance: inheritinherit;
  appearance: inherit;
}

.alert-wrapper .set-alert-wrapper .controls {
  display: flex;
  flex-wrap: wrap;
}

.alert-wrapper .set-control {
  margin: 4px;
  max-width: 72px;
  font-size: 12px;
  padding: 1px 5px;
  height: 28px;
  width: auto;
  line-height: 13px;
}

.small-with {
  max-width: 50px;
}

.set-alert-form {
  width: 100%;
  border-radius: 3px;
  background: #333a;
  background: linear-gradient(to right, rgba(30, 30, 30, 0.45), rgba(80, 80, 80, 0.65));
  background: -webkit-linear-gradient(to right, rgba(30, 30, 30, 0.45), rgba(80, 80, 80, 0.65));
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.45);
  display: none;
}

.set-alert-form.showIt {
  display: block;
}

#new-alert {
  color: #fff;
  background: #126278;
  padding: 5px;
  display: inline-block;
  margin: 5px 0;
  text-align: center;
  /* margin: 0 auto; */
  font-size: 14px;
}

.font-quicksand {
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 8px;
}

.set-alert-form>h3 {
  margin-top: 10px;
}

.set-alert-form>.input-area {
  width: 100%;
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.set-alert-form>.input-area label {
  margin: 0;
}

.set-alert-form>.input-area>input[type=text],
.set-alert-form>.input-area>input[type=password] {
  position: relative;
  background-color: #fff;
  border: none;
  width: 100%;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.45);
}

.set-alert-form>.input-area>input[type=text] {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.set-alert-form>.input-area>input[type=password] {
  border-top: 1px solid #555a;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.set-alert-form>.input-area>.submit-button {
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #333;
  align-self: flex-end;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s linear all;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}

.set-alert-form>.input-area>.submit-button:hover {
  background-color: #444;
  color: #3f9;
}

.set-alert-form>.footer {
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.set-alert-form>.footer>.fab {
  margin: 0 3px;
  padding: 7px 0;
  width: 30px;
  height: 30px;
  background-color: #3f9;
  color: #333;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all linear;
}

.set-alert-form>.footer>.fab:hover {
  color: #3f9;
  background-color: #777;
}

/* Template Overrides */
.primary-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.charm-top {
  overflow-y: scroll;
}

.submit-button {
  background: #F44336;
  max-width: 82px;
  text-align: center;
  color: #fff;
  margin: 2% auto;
  cursor: pointer;
}

.alerts-listing {
  font-size: 10px;
  max-height: 196px;
  overflow-y: scroll;
  display: none;
  flex-direction: column-reverse;
}

.highlighter {
  background: red !important;
}

/* VIEW SPECIFIC STYLES */
.diff-section {
  padding: 5px;
}


.diff-section h2 {
  color: blue;
}


.alert {
  padding: 4px 6px;
  background-color: #009688;
  color: white;
  margin-bottom: 1px;
  font-family: calibri;
  border-radius: 0;
  font-size: 12px;
  display: block;
  width: 100%;
  transition: all 0.7s ease;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.scroll-it {
  max-height: 200px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #555999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.enable-container input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.enable-container label {
  cursor: pointer;
  text-indent: -9999px;
  width: 44px;
  height: 24px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.enable-container label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 5px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.enable-container input:checked+label {
  background: #bada55;
}

.enable-container input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.enable-container label:active:after {
  width: 130px;
}

.showing-feature {
  display: flex;
}

.window {
  z-index: 99;
}

.tiles-wrapper {
  margin: auto;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
}


.force-hide {
  display: none !important;
}

.hr-custom-popup {
  position: fixed;
  background: #0000007a;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: none;
}

.isVisible {
  display: block;
}

.hr-custom-popup .popup-header {
  background: #f8f8f8;
  display: block;
  padding: 1px 1%;
  margin: 0;
}

.hr-custom-popup .popup-header h2 {
  font-size: 23px;
  font-weight: 700;
}

.hr-custom-popup .popup-header h2 span{ 
  color: #cdcdcd;
}

.hr-custom-popup .content-wrapper {
  height: 96vw;
  background: #fff;
  width: 96vw;
  margin: 2vh 2vw;
  padding: 0;
}

.hr-custom-popup .close-button {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 10px 15px;
  z-index: 99;
  top: 1vh;
}

.hr-custom-popup .popup-content-section {
  padding: 1%;
  overflow-y: scroll;
  height: 86vh;
}

.hr-custom-popup h1 {
  font-size: 24px;
  margin: 0;
}

.hr-grid {
  width: 66vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-self: center;
  align-content: center;
  align-items: center;
}

.tile-custom-view {
  width: 14%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  flex: 1;
  cursor: pointer;
  min-height: 146px;
  margin: 1px;
  transition: all 0.7s ease;
}

.tile-custom-view:hover {
  text-decoration: none;
  background-color: #141534 !important;
}

.tile-custom-view .icon {
  font-size: 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.tile-custom-view .branding-bar {
  font-size: 14px;
}

.tile-custom-view .badge-bottom {
  background: #FFEB3B;
  position: absolute;
  right: 0px;
  top: 0;
  height: 26px;
  border-radius: 0;
  color: #000;
  font-size: 12px;
  padding: 5px;
}

.canobss-wrapper #notification-container {
  float: right;
  height: calc(100vh);
  z-index: 99;
  width: 396px;
  display: none;
  background: #264f5c;
  color: #e2e2e2;
}

.canobss-wrapper .showCharm {
  display: block !important;
}

.canobss-wrapper #notification-container .close-button-notification {
  background: #264f5c;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: -37px;
  font-weight: 500;
  color: #fff;
  top: 0;
  border-radius: 7px 0px 0px 7px;
  cursor: pointer;
}



.popup-content-section .controls {
  display: flex;
  position: fixed;
  background: #b0b0b2;
  padding: 5px 8px;
  margin: 0;
  padding-bottom: 0;
  border-radius: 7px;
  max-height: 49px;
  z-index: 99;
}


.dark-mode {
  background: #141534 !important;
}

.live-preview-wrapper {}

.iframe-wrapper {
  height: 81vh;
  padding: 1%;
}

/* DIFF PAGE */
.diff-wrapper .map-area-wrapper {
  display: flex;
}

.diff-wrapper .map-area-wrapper svg {
  width: 50%;
}


.logo-wrapper {
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    display: flex;
    text-align: center;
    align-content: space-around;
    max-width: initial;
    margin: auto;
    padding: 3px 3%;
    align-items: baseline;
}

.logo-wrapper .left-side,
.logo-wrapper .right-side {
  width: 49%;
}

.logo-wrapper .left-side {
  text-align: left;
}

.logo-wrapper .right-side {
  text-align: right;
}
.logo-wrapper img {
  background: #0f1417d9;
  padding: 1%;
  border-radius: 12px;
  width: 100px;
  max-width: 135px;
}

.ip-info-hr {
  position: absolute;
  z-index: 99999;
  width: 100%;
  background: #fff;
  max-width: 206px;
  padding: 1%;
  font-size: 11px;
  top: -3px;
  right: 0;
}

.state-details {
  cursor: pointer;
}
.more-details {
  position: absolute;
  top: 54%;
  display: none;
}

.more-details img{
  width: 99%;
}

.more-details.isOn {
  display: block;
  background: #fff;
}

.close-it-details {
  background: #f6eded;
  padding: 9px;
  display: inline-block;
}
